<div id="contenu">
<h1 id="h1p">A propos</h1>
<h1 id="h2p">Chocolate Sarayi</h1>
<div id="corp1">
<p id="corp">
    
    Le complexe Aboul Abass est bien plus qu'un simple restaurant/fast-food ; c'est une expérience gastronomique exceptionnelle qui marie savamment les saveurs de la cuisine africaine et européenne. Notre établissement se distingue par son ambiance accueillante, son service de haute qualité et ses tarifs abordables.

Que ce soit pour une escapade culinaire entre amis, un repas en famille ou un événement spécial, le complexe Aboul Abass vous propose une expérience mémorable. De plus, nous sommes fiers de vous offrir un service traiteur complet pour toutes vos occasions spéciales, qu'il s'agisse de baptêmes, de mariages, de séminaires, de soirées ou d'autres événements mémorables.

Notre équipe dévouée et professionnelle est à votre service pour satisfaire toutes vos envies culinaires. Vous nous trouverez à Tivaouane, dans la région de Thiès, et pour passer vos commandes ou obtenir plus d'informations, n'hésitez pas à nous contacter au 77 393 12 12. Chez le complexe Aboul Abass, nous sommes impatients de vous faire découvrir une palette de saveurs exquises et de vous offrir un service exceptionnel à chaque visite.
  
</p>

</div>

</div>