#contenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFA500;
}
#text #p1{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
   
}

#text #p2{
    font-family: 'algerian', sans-serif;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
   
}


#imgs img {
  
   border-radius: 50%;
   border: 6px solid #D3B873; 
   margin-bottom: 10px;
}

#textend{
    position: relative;
    top: 120px;
    font-family: 'algerian', sans-serif;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}