<div class="background-container">
  <div id="contenu">
    <div id="im">
      <img id="imginf" src="assets/1.jpg" alt="Votre image" width="700px" height="450px">
    </div>
    <div id="fo">
      <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="recepteur">Prénom :</label>
          <input type="text" class="form-control" id="recepteur" formControlName="recepteur">
          <div *ngIf="formulaire.get('recepteur').hasError('required') && formulaire.get('recepteur').touched" class="text-danger">
            Le prénom est requis.
          </div>
        </div>
        <div class="form-group">
          <label for="expediteur">Email :</label>
          <input type="email" class="form-control" id="expediteur" formControlName="expediteur">
          <div *ngIf="formulaire.get('expediteur').hasError('required') && formulaire.get('expediteur').touched" class="text-danger">
            L'email est requis.
          </div>
          <div *ngIf="formulaire.get('expediteur').hasError('email') && formulaire.get('expediteur').touched" class="text-danger">
            L'email n'est pas valide.
          </div>
        </div>
        <div class="form-group">
          <label for="sujet">Objet :</label>
          <input type="text" class="form-control" id="sujet" formControlName="sujet">
          <div *ngIf="formulaire.get('sujet').hasError('required') && formulaire.get('sujet').touched" class="text-danger">
            L'objet est requis.
          </div>
        </div>
        <div class="form-group">
          <label for="contenu">Message :</label>
          <textarea class="form-control" id="contenu" formControlName="contenu" rows="4"></textarea>
          <div *ngIf="formulaire.get('contenu').hasError('required') && formulaire.get('contenu').touched" class="text-danger">
            Le message est requis.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!formulaire.valid">Envoyer</button>
      </form>

      <div *ngIf="showElement" [class.hidden]="!showElement" class="text">
        L'e-mail a été envoyé avec succès
      </div>
    
    </div>
  </div>

 
  <div id="contenu2">
    <div>
      <h3> COMPLEXE ABOUL ABASS</h3>
      Le complexe Aboul Abass offre une expérience <br> gastronomique unique en mêlant habilement <br>les saveurs de la cuisine africaine et européenne. Il se <br> démarque par son ambiance chaleureuse, son service <br> de qualité supérieure et ses prix abordables.
      <div>
        <h3> HEURES DE TRAVAIL </h3>
        Chaque: 08:00 - 23:00
      </div>
    </div>
    <div>
      <h3>CONTACTEZ-NOUS</h3>
      <p>ADDRESS: Thies - Tivaouane</p>
      <p>EMAIL: contact@complexeaboulabass.com</p>
      <p>TEL: 77 393 12 12</p>
    </div>
  </div>
</div>
