<div id="contenu">
    <div id="contenuimg">
        <div id="contenu1">
            <img  id="imginf" src="assets/1.jpg" alt="Votre image"  [ngStyle]="{ 'width': widthimg,'height':heightimg1}">
            <img  id="imginf" src="assets/2.webp" alt="Votre image"  [ngStyle]="{ 'width': widthimg,'height':heightimg4}">
            
        </div>
        <div id="contenu2">
            <img  id="imginf" src="assets/3.jpg" alt="Votre image"    [ngStyle]="{ 'width': widthimg,'height':heightimg1}">
            <img  id="imginf" src="assets/4.jpeg" alt="Votre image"   [ngStyle]="{ 'width': widthimg,'height':heightimg2}" >
            <img  id="imginf" src="assets/5.jpg" alt="Votre image"   [ngStyle]="{ 'width': widthimg,'height':heightimg3}">
        </div>
        <div id="contenu3" >
            <img  id="imginf" src="assets/1.jpg" alt="Votre image"  [ngStyle]="{ 'width': widthimg,'height':heightimg5}">
        </div>

    </div>
    <div id="CONTENUP" *ngIf="screenWidth >= 1000">
        <h3>Restauration</h3>
        <h2> EXPÉRIENCE CULINAIRE INOUBLIABLE</h2>
        <p>Rendez votre événement inoubliable
        
        Avec un accompagnement personnel et professionnel, nous sommes là pour que vous veniez à l'événement sans souci. Les services de restauration et les plateaux de courtoisie du restaurant Abdoul Abass conviennent aux occasions professionnelles et spéciales, petites et grandes.
        
        Ensemble, nous adaptons notre menu de produits laitiers Halal à chaque hospitalité - des levées de tasses aux plateaux d'accueil pour les réunions, en passant par les fêtes et les fêtes.
    </p>
    </div>
</div>



