<div id="contenu">
    <div id="contp">
      <p  class="pinfo" (click)="onCLickInfo1()"><span *ngIf="!etat1">+</span><span><span *ngIf="etat1">-</span></span>Découvrez une Expérience Culinaire Inoubliable</p>
      <p *ngIf="etat1" >Plongez dans un voyage gustatif avec notre cuisine exquise. Chaque plat est soigneusement préparé pour éveiller vos sens et satisfaire vos papilles. De la fraîcheur des ingrédients à la passion de nos chefs, notre restaurant vous propose une expérience culinaire inoubliable.</p>
      <p class="pinfo" (click)="onCLickInfo2()"><span *ngIf="!etat2">+</span><span *ngIf="etat2">-</span>Un Lieu Accueillant pour Toutes les Occasions</p>
      <p *ngIf="etat2" >Lorsque vous franchissez nos portes, vous entrez dans un espace chaleureux et accueillant. Notre ambiance unique est parfaite pour les repas en famille, les dîners romantiques, les rencontres entre amis ou même les occasions spéciales. Venez créer des souvenirs mémorables dans un cadre convivial.</p>
      <p class="pinfo" (click)="onCLickInfo3()"><span *ngIf="!etat3">+</span><span *ngIf="etat3">-</span>Dînez en Plein Air dans Notre Oasis</p>
      <p *ngIf="etat3" >Profitez du charme de notre terrasse en plein air. Entourés de verdure, vous pourrez savourer nos plats délicieux tout en profitant de l'air frais. Que ce soit pour un petit déjeuner ensoleillé ou un dîner sous les étoiles, notre oasis en plein air est l'endroit idéal.</p>
      <p class="pinfo" (click)="onCLickInfo4()"><span *ngIf="!etat4">+</span><span *ngIf="etat4">-</span>Notre Promesse de Qualité et de Fraîcheur</p>
      <p *ngIf="etat4" >Au cœur de notre cuisine se trouve notre engagement envers la qualité. Nous choisissons soigneusement les meilleurs ingrédients pour garantir la fraîcheur et le goût dans chaque assiette. Notre équipe dévouée travaille sans relâche pour vous offrir une expérience gastronomique exceptionnelle à chaque visite.</p>
    </div>
    <div *ngIf="screenWidth >= 700">
        <img  src="assets/ice-cream-4401300_1280_preview_rev_1.png" alt="Votre image" width="350px" height="350px">
    </div>
</div>
<div id="contenu2" >
    <div id="divinf">
        <img  id="imginf" src="assets/dessert-4071142.png" alt="Votre image" width="100%" height="190px">
        </div>
<div id="divimg">

</div>


</div>



