<header [ngStyle]="{ 'background': etatbg }">
  <nav>
    <div id="nav-left">
      <img  src="assets/CHCOLATE.png" alt="Votre image" width="150px" height="100px">
    </div>
    <div id="nav-right" *ngIf="screenWidth >= 700">
      <a href="#a-propos">À PROPOS</a>
      <a href="#galerie">GALERIE</a>
      <a href="#menu">MENU</a>
      <a href="#services">SERVICES</a>
      <a href="#contact">CONTACT</a>
    </div>
    <div id="nav-right1" *ngIf="screenWidth < 700" (click)="onClickMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
  </nav>
  <div id="menu" *ngIf="getEtat()">

    <div id="x" (click)="onClickX()">
      x
    </div>
    <img  src="assets/CHCOLATE.png" alt="Votre image" width="150px" height="100px">
    <div  id="liste">
      <ul id="liste">
        <li><a href="#a-propos">À PROPOS</a></li>
        <li><a href="#galerie">GALERIE</a></li>
        <li><a href="#menu">MENU</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>

  </div>
</header>
<app-header></app-header>
<app-apropos></app-apropos>
<app-info></app-info>
<app-photo></app-photo>
<app-backgoundimages></app-backgoundimages>
<app-galerie></app-galerie>
<app-menu></app-menu>
<app-footer></app-footer>